<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/stylesheet/style.css">
    <title>Riddle Me This</title>
</head>

<body>
    <header>
        <h1>Riddle Me This</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <button id="logout" class="logoutbtn">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
    </nav>
    <main>
        {{{ body }}}
    </main>
    {{#if loggedIn}}
    <script src="../../public/javascript/logout.js"></script>
    {{/if}}
</body>

</html>