<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
    <title>Riddle Me This</title>
</head>

<body>
    <header>
        <h1>Riddle Me This</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        
        {{#if loggedIn}}
        <button id="logout" class="logoutbtn">logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
        <p>"PLEASE SIGN IN OR CREATE AN ACCOUNT TO PLAY"</p>
    </nav>
    <main>
        {{{ body }}}
    </main>
    {{#if loggedIn}}
    <p>"YOU ARE SIGNED IN"</p>
    <script src="/js/logout.js"></script>
    <script src="/js/gameIndex.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"
    ></script>
    {{/if}}
</body>

</html>