<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <a href="/"> Back to Home</a>
            <ul>
                {{#each games}}
                <div class="card mt-4 game"onclick="linkToDetails({{id}}">
                    <div class="card-body">
                        <h5 class="gameTitle">Game</h5><p class"gameID">{{id}}</p>
                        <p>
                            <strong>Orginal</strong>: {{orginal}}
                        </p>
                        <p>
                            <strong>Final</strong>: {{ final }}
                        </p>
                    </div>
                </div>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script src="javascript/game.js"></script>