<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">LOGIN</h2>
    {{!-- <form class="form login-form"> --}}
      <div class="form-group">
        <label for="email-login">EMAIL:</label>
        <input class="form-input" type="text" id="emailLogin" />
      </div>
      <div class="form-group">
        <label for="password-login">PASSWORD:</label>
        <input class="form-input" type="password" id="passwordLogin" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="loginForm">LOGIN</button>
      </div>
    {{!-- </form> --}}
  </div>
  <div class="login-card">
    <h2 class="page-title">SIGNUP</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">USERNAME:</label>
        <input class="form-input" type="text" id="usernameSignUp" />
      </div>
      <div class="form-group">
        <label for="email-signup">EMAIL:</label>
        <input class="form-input" type="text" id="emailSignUp" />
      </div>
      <div class="form-group">
        <label for="password-signup">PASSWORD:</label>
        <input class="form-input" type="password" id="passwordSignUp" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="signupForm" type="submit">SIGNUP</button>
      </div>
    </form>
  </div>
</div>

<script src="/javascript/login.js"></script>
